@import "../../../styles/variables.scss";
footer.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem;
  max-width: 75rem;

  @media (min-width: $tabletWidth) {
    padding: 3rem 5rem;
  }
  span {
    font-size: 0.75rem;
    color: $grey;
    @media (min-width: $tabletWidth) {
      font-size: 0.85rem;
    }
  }

  div.links {
    a {
      padding: 1rem;
      color: $grey;
    }
    a:hover {
      color: $secondary;
    }
  }
}
