@import "../../../styles/variables.scss";

div.headshot__container {
  width: 18rem;
  height: auto;
  border-radius: 25%;

  .headshot {
    border-radius: 25%;
    width: 100%;
    height: auto;
  }

  @media (max-width: $largeDesktop) {
    width: 15rem;
  }
  @media (max-width: $smallDesktop) {
    width: 12rem;
  }
}
