@import "../../../styles/variables.scss";

div.headshot__container {
  width: 35%;
  height: auto;
  margin: 4rem 0 2rem 0;

  @media (min-width: $mobileWidth) {
    margin: 0 2rem;
  }
  .headshot {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  @media (min-width: $mobileWidth) {
    width: 15rem;
  }

  @media (min-width: $smallDesktop) {
    width: 15rem;
  }
  @media (min-width: $largeDesktop) {
    width: 18rem;
  }
}
