@import "../../../styles/variables.scss";

div.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: $mobileWidth) {
    flex-direction: column;
    margin: 2rem 0;
  }

  div.description {
    display: flex;
    flex-direction: column;
    width: 36rem;
    padding: 3rem;

    div.title__container {
      justify-self: flex-start;
      align-self: left;
    }

    span {
      font-size: 1.05rem;
      line-height: 1.55;
    }

    button {
      outline: none;
      background-color: $secondary;
      border: none;
      height: 3.5rem;
      width: 15rem;
      padding: 0 2rem;
      border-radius: 2.5rem;
      margin: 1rem 0;
      align-self: center;

      span {
        color: black;
        font-style: bold;
        font-weight: 800;
        font-size: 1.05rem;
        letter-spacing: -0.05rem;
      }
    }
  }
}
