@import "../../../styles/variables.scss";

div.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.2rem;

  label {
    color: $grey;
    padding: 0.3rem 0 0.5rem 0;
    font-weight: 500;
    border-radius: 0.2rem;
    font-size: 1.1rem;
  }
  input,
  textarea {
    border-radius: 0.75rem;
    height: 2.3rem;
    background-color: $secondaryGrey;
    color: $white;
    display: inline;
    padding: 0.95rem 1.25rem;
    border: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }

  textarea {
    height: 10rem;
    max-width: 100%;
    font-family: inherit;
    @media (min-width: $tabletWidth) {
      height: 8rem;
    }
  }
}
