header.container {
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  div.blurb {
    h1 {
      padding: 0;
      margin: 0;
    }
    span {
      color: #8a95a5;
    }
  }
}
